@model MoshCourseWebApplicationMVC.ViewModel.GigsViewModel
   @{ ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="gigs mt-5">
    @foreach(var gig in Model.UpComingGigs)
    {
    <li>
        <div class="date">
            <div class="month">
                @gig.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @gig.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="artist">
                @gig.Artist.Name
                @if (gig.IsCanceled)
                {
                    <span class="badge badge-warning">Canceled</span>
                }
                @if (Model.ShowAction)
                {
                    <button class="btn btn-link btn-sm js-follow ml-3" data-user-id="@gig.ArtistId">Follow</button>
                }
            </span>
            <span class="genre">
                @gig.Genre.Name
            </span>
            @if (Model.ShowAction && gig.IsCanceled == false)
            {
                <button class="btn btn-light btn-sm mr-5 js-attendance" style=" border-radius: 9px; font-size: 12px; padding: 7px 10px" data-gig-id="@gig.Id">Going ?</button>
            }
        </div>
    </li>
    }
</ul>
@section scripts{
   <script>
       $(document).ready(function () {
           $(".js-attendance").click(function (e) {
            var btn=   $(e.target)
               $.post("/api/Attendances", { "": btn.attr("data-gig-id")})
                   .done(function () {
                       btn.removeClass("btn-light").
                           addClass("btn-info").
                           text("Going");
                   }).fail(function () {
                       alert("something fail");
                   })
           });

           $(".js-follow").click(function (e) {
               var btn = $(e.target)
               $.post("/api/Following", { FolloweeId: btn.attr("data-user-id") })
                   .done(function () {
                       btn.text("Following");
                   }).fail(function () {
                       alert("something fail");
                   })
           });
       });
    </script>
    }
